* {
  margin: 0;
  padding: 0; }

*,
*::before,
*::after {
  box-sizing: inherit; }

html {
  box-sizing: border-box;
  font-size: 62.5%; }

body {
  font-size: 1.6rem;
  font-family: var(--body-font);
  background: var(--body-bg);
  color: var(--theme-color-1);
  font-weight: 400; }

a {
  text-decoration: none;
  color: inherit; }

ul {
  list-style: none; }

:focus {
  outline: none; }

.icon {
  cursor: pointer;
  width: 2.2rem;
  height: 2.2rem;
  transition: all 200ms; }

.app-wrapper {
  max-width: 140rem;
  margin: 0 auto;
  height: 100vh;
  display: flex;
  flex-direction: column;
  background: var(--theme-bg);
  overflow: hidden; }

.main-wrapper {
  display: flex;
  overflow: auto; }

:root {
  --body-font: 'Work Sans', "Manrope", sans-serif;
  --body-bg: #f2f2f2;
  --theme-bg: #fafafa;
  --border-color: #efefef;
  --header-bg: #fff;
  --theme-color-1: #b3b3b3;
  --theme-color-1-opaque: hsla(0, 0%, 70%, 0.3);
  --theme-color-2: #808080;
  --theme-color-3: #494949;
  --black-opaque: rgba(0, 0, 0, 0.25);
  --logo-color: #f13a2f;
  --accent: var(--logo-color);
  --red-1: #ea2027;
  --red-2: #b83d43;
  --green-1: #0f9775;
  --blue-1: #2f89fc;
  --purple-1: #5f27cd;
  --purple-2: #9c1de7;
  --purple-3: #6a5287;
  --orange-1: #ffa010;
  --orange-1: #f49f35;
  --brown-1: #6e3b3b;
  --brown-2: #94877b;
  --pink-1: #ef5777;
  --pink-2: #ff1f5a; }

.dark-mode {
  --body-bg: #1e222b;
  --theme-bg: #212835;
  --border-color: #393f50;
  --header-bg: #323a4b;
  --theme-color-1: #fefffd;
  --theme-color-2: #dddee0;
  --theme-color-3: #dddee0; }

.margin-r {
  margin-right: 0.6em; }

.padding-big {
  padding: 2em; }

.border-top {
  border-top: 3px solid var(--border-color); }

.border-bottom {
  border-bottom: 3px solid var(--border-color); }

.btn {
  font-size: 0.85em;
  font-weight: 500;
  font-family: inherit;
  padding: 0.8em 1.4em;
  border-radius: 100rem;
  border: 0.22rem solid transparent;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  transition: all 250ms; }
  .btn .icon {
    display: block;
    color: var(--theme-color-1);
    height: 1.8rem;
    width: 1.8rem;
    transition: all 250ms; }
  .btn--outline {
    color: var(--theme-color-2);
    background: transparent;
    border-color: var(--border-color); }
    .btn--outline:hover, .btn--outline:focus, .btn--outline.selected {
      background: var(--border-color); }
  .btn--accent {
    background: var(--logo-color);
    color: var(--body-bg);
    border-color: var(--logo-color); }
    .btn--accent .icon {
      color: currentColor; }
    .btn--accent:hover, .btn--accent:focus {
      background-color: transparent;
      color: var(--logo-color); }
  .btn--dual {
    display: flex; }
    .btn--dual .btn:first-of-type {
      border-top-right-radius: 0;
      border-bottom-right-radius: 0;
      padding-right: 1em; }
    .btn--dual .btn:last-of-type {
      border-top-left-radius: 0;
      border-bottom-left-radius: 0;
      border-left: none;
      padding-left: 1em; }

.profile {
  background: var(--header-bg);
  box-shadow: 0.1rem 0.3rem 0.6rem rgba(0, 0, 0, 0.04);
  border-radius: 0.5rem;
  overflow: hidden;
  font-weight: 500; }
  .profile__hero {
    height: 23rem;
    background: url(../img/adventure-calm-clouds-dawn-414171.jpg) no-repeat;
    background-size: cover;
    background-position: center;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    color: var(--header-bg); }
  .profile__contact {
    display: flex;
    flex: 1;
    margin-left: auto;
    align-items: center;
    padding: 2em;
    color: white; }
  .profile__contact-container {
    height: 3.4em;
    width: 3.4em;
    border-radius: 50%;
    border: 0.2rem solid var(--theme-color-1-opaque);
    margin: 0 0.3em;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: all 200ms; }
    .profile__contact-container:hover, .profile__contact-container:focus {
      background: var(--theme-color-1-opaque); }
  .profile__icon {
    width: 1.6em;
    height: 1.6em; }
  .profile__info {
    flex: 0 0 40%;
    padding: 1em;
    display: flex;
    justify-content: center;
    align-items: center;
    background: var(--black-opaque);
    color: white; }
  .profile__info-item {
    display: flex;
    align-items: center;
    margin: 0 1.5em; }
  .profile__info-data {
    margin-left: 0.8em; }
  .profile__menu {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 1.8em; }
  .profile__user {
    display: flex;
    align-items: center; }
  .profile__photo {
    width: 42px;
    height: 42px;
    border-radius: 50%;
    margin-right: 1.5em; }
  .profile__name {
    color: var(--theme-color-3); }
  .profile__menu-nav {
    display: flex;
    align-items: stretch; }
  .profile__menu-link {
    padding: 2em 0;
    margin: 0 1em;
    position: relative;
    transition: all 200ms; }
    .profile__menu-link::before {
      content: "";
      position: absolute;
      display: block;
      bottom: 0;
      left: 0;
      right: 0;
      height: 0.3rem;
      padding: 0;
      margin: 0;
      background: var(--accent);
      transform: scale(0, 1);
      transition: transform 350ms; }
    .profile__menu-link:hover, .profile__menu-link:focus {
      color: var(--accent); }
    .profile__menu-link:hover::before,
    .profile__menu-link:focus ::before {
      color: var(--accent);
      transform: scale(1, 1); }
  .profile__menu-buttons .btn {
    color: var(--theme-color-1); }

.videos {
  padding-top: 0; }
  .videos__header {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0 2.2em;
    margin: 2em 0; }
  .videos__menu-trending {
    display: flex;
    flex: 1; }
  .videos__menu-button {
    flex: 1;
    display: flex;
    justify-content: flex-end; }
  .videos__link {
    display: flex;
    align-items: center;
    transition: all 200ms; }
    .videos__link:hover {
      color: var(--theme-color-2); }
      .videos__link:hover .icon {
        color: var(--theme-color-3); }
  .videos__grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(240px, 1fr));
    gap: 1.5em; }
  .videos__more {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0 2em;
    margin: 3.5em 0 1.5em; }
  .videos__footer {
    display: flex;
    justify-content: space-between;
    align-items: center; }
    .videos__footer--left {
      flex: 1;
      justify-content: space-between; }
      .videos__footer--left button:first-child {
        margin-bottom: 0.8em; }
    .videos__footer--right {
      flex: 1;
      display: flex;
      flex-direction: column;
      align-items: flex-end;
      justify-content: space-between; }
      .videos__footer--right button:first-child {
        margin-bottom: 0.8em; }
  .videos__nav {
    flex: 2;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    font-size: 0.9em; }
  .videos__nav--main {
    display: flex;
    align-items: center;
    justify-content: center;
    color: var(--theme-color-3);
    margin-bottom: 2em; }
  .videos__nav--secondary {
    display: flex;
    align-items: center;
    justify-content: center; }
  .videos__nav-item {
    margin: 0 1em; }
  .videos__nav-link {
    padding-bottom: 0.5em; }
    .videos__nav-link:hover {
      text-decoration: underline; }

.video {
  background: var(--header-bg);
  border-radius: 0.5rem;
  overflow: hidden;
  box-shadow: 0.1rem 0.3rem 0.6rem rgba(0, 0, 0, 0.04);
  cursor: pointer;
  display: flex;
  flex-direction: column; }
  .video:hover video {
    transform: scale(1.7); }
  .video:hover .video__desc {
    transform: translateY(48%); }
  .video:hover .video__title {
    color: white;
    z-index: 10;
    text-shadow: 0 0 5px rgba(0, 0, 0, 0.3); }
  .video:hover .video__info {
    transform: translateY(100%); }
  .video video {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
    transition: transform 450ms;
    transform-origin: top; }
  .video__desc {
    padding: 1em;
    display: flex;
    flex-direction: column;
    transition: transform 450ms;
    transform-origin: top; }
  .video__title {
    font-size: 0.9em;
    font-weight: 500;
    color: var(--theme-color-3);
    text-transform: capitalize;
    margin-bottom: 0.8em;
    transition: all 350ms; }
  .video__info {
    display: flex;
    align-items: center;
    font-size: 0.75em;
    transition: transform 600ms;
    transform-origin: top; }
  .video__user-photo {
    border-radius: 50%; }
  .video__user-name {
    margin-left: 0.8em;
    margin-right: 1.2em; }
  .video__views {
    margin-left: auto; }

.aside {
  flex: 0 0 26rem;
  font-size: 0.9em;
  border-right: 3px solid var(--border-color);
  color: var(--theme-color-2);
  overflow: auto;
  scrollbar-width: thin; }
  .aside > * {
    border-bottom: 3px solid var(--border-color); }
    .aside > *:last-child {
      border: none; }
  .aside__list {
    padding: 2em;
    padding-bottom: 1.8em; }
  .aside__link {
    display: flex;
    align-items: center;
    padding: 0.7em 0; }
    .aside__link:hover, .aside__link:focus {
      color: var(--theme-color-3); }
      .aside__link:hover .aside__icon, .aside__link:focus .aside__icon {
        color: var(--theme-color-2); }
  .aside__placeholder {
    flex: 0 0 5rem;
    display: flex;
    align-items: center; }
  .aside__icon {
    width: 1.6em;
    height: 1.6em;
    color: var(--theme-color-1); }
  .aside__photo {
    width: 3rem;
    height: 3rem;
    border-radius: 50%; }
  .aside__heading {
    font-weight: 600;
    font-size: 1.1em;
    margin-bottom: 1.2em; }
  .aside button {
    margin-top: 1.4em; }

#categories .aside__link:hover .music {
  color: var(--red-1); }

#categories .aside__link:hover .gaming {
  color: var(--green-1); }

#categories .aside__link:hover .comedy {
  color: var(--orange-1); }

#categories .aside__link:hover .food {
  color: var(--pink-2); }

#categories .aside__link:hover .fitness {
  color: var(--blue-1); }

#categories .aside__link:hover .sport {
  color: var(--brown-2); }

#categories .aside__link:hover .animal {
  color: var(--pink-1); }

#categories .aside__link:hover .science {
  color: var(--purple-1); }

#categories .aside__link:hover .movie {
  color: var(--red-2); }

#categories .aside__link:hover .business {
  color: var(--brown-1); }

.content {
  flex: 1;
  overflow: auto;
  scrollbar-width: thin; }

.header {
  background: var(--header-bg);
  display: flex;
  justify-content: space-between;
  padding: 0 2.4em;
  border-bottom: 3px solid var(--border-color);
  box-shadow: 0 0.3rem 0.5rem rgba(0, 0, 0, 0.01); }
  .header > * {
    padding: 1.2em 0; }
  .header__left {
    flex: 0 0 30%;
    display: flex;
    align-items: center; }
  .header__menu {
    flex: 0; }
  .header__menu-icon {
    height: 2.8rem;
    width: 2.8rem;
    vertical-align: middle; }
  .header__logo {
    border-radius: 50%;
    height: 4rem;
    width: 4rem;
    border: 6px solid var(--logo-color);
    margin: 0 2em;
    margin-right: 2em;
    cursor: pointer; }

.form {
  display: flex; }
  .form__search-btn {
    background: none;
    border: none;
    cursor: pointer;
    padding: 0.6em;
    z-index: 2; }
  .form__search-icon {
    color: var(--theme-color-1);
    vertical-align: middle;
    height: 1.8rem;
    width: 1.8rem; }
  .form__searchbar {
    font-family: inherit;
    font-size: inherit;
    font-weight: 400;
    background: transparent;
    color: var(--theme-color-2);
    border-radius: 100rem;
    border: 2px solid transparent;
    padding: 0.5em 3.25em;
    margin-left: -2.65em;
    transition: all 200ms; }
    .form__searchbar:hover, .form__searchbar:focus {
      border-color: var(--border-color); }
    .form__searchbar::placeholder {
      color: inital; }

.nav {
  flex: 2;
  display: flex;
  justify-content: center;
  align-items: center; }
  .nav__list {
    display: flex; }
  .nav__link {
    display: flex;
    margin: 0 1.2em;
    padding: 0.2em;
    font-weight: 500;
    position: relative; }
    .nav__link:hover, .nav__link:focus, .nav__link.active {
      color: var(--accent); }
    .nav__link.dot::after {
      content: "";
      width: 0.6rem;
      height: 0.6rem;
      border-radius: 50%;
      background: var(--accent);
      position: absolute;
      top: 0.4rem;
      right: -0.6rem; }

.user-nav {
  flex: 0 0 30%;
  padding-left: 8%;
  display: flex;
  align-items: center;
  justify-content: space-between; }
  .user-nav > * {
    cursor: pointer; }
  .user-nav__user-photo {
    border-radius: 50%; }
  .user-nav__icon--notifications {
    color: var(--theme-color-1);
    display: flex;
    align-items: center;
    margin-left: 0.6em; }
  .user-nav__icon--dropdown {
    color: var(--theme-color-1);
    display: flex;
    align-items: center; }

.footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 0.9em; }
  .footer__socials {
    display: flex;
    justify-content: center; }
  .footer__icon-box {
    border-radius: 50%;
    border: 3px solid var(--border-color);
    display: grid;
    place-content: center;
    height: 3.6em;
    width: 3.6em;
    margin: 0 0.5em;
    transition: all 250ms; }
  .footer .facebook:hover {
    color: #3b5998;
    border-color: currentColor;
    box-shadow: 0 0 4rem 0.3rem rgba(59, 89, 152, 0.5);
    background: white; }
  .footer .instagram:hover {
    color: #c13584;
    border-color: currentColor;
    box-shadow: 0 0 4rem 0.3rem rgba(193, 53, 132, 0.4);
    background: white; }
  .footer .twitter:hover {
    color: #1da1f2;
    border-color: currentColor;
    box-shadow: 0 0 4rem 0.3rem rgba(29, 161, 242, 0.4);
    background: white; }
  .footer .icon {
    height: 1.6em;
    width: 1.6em;
    padding: 1em; }
  .footer__terms {
    display: flex; }
  .footer__link:first-child {
    margin-right: 1em; }
  .footer__link:hover {
    text-decoration: underline; }
