.margin-r {
	margin-right: 0.6em;
}

.padding-big {
	padding: 2em;

	@include respond(xl) {
		padding: 1.6em;
	}
	@include respond(sm) {
		padding: 0;
	}
}

.border-top {
	border-top: $border;
}

.border-bottom {
	border-bottom: $border;
}
