$border: 3px solid var(--border-color);

:root {
	--body-font: "DM Sans", "Work Sans", sans-serif;

	// LIGHT MODE
	--body-bg: #f2f2f2;
	--theme-bg: #fafafa;
	--border-color: #efefef;
	--header-bg: #fff;
	--card-bg: transparent;

	--theme-color-1: #b3b3b3;
	--theme-color-1-opaque: hsla(0, 0%, 70%, 0.3);
	--theme-color-2: #808080;
	--theme-color-3: #494949;
	--black-opaque: rgba(0, 0, 0, 0.25);

	// UNIVERSAL
	--logo-color: #f13a2f;
	--accent: var(--logo-color);

	// COLORS
	--red-1: #ea2027;
	--red-2: #9e262c;
	--green-1: #0f9775;
	--green-2: #18ca5c;
	--blue-1: #2f89fc;
	--blue-2: #2cb7d6;
	--purple-1: #814bec;
	--purple-2: #9c1de7;
	--purple-3: #6a5287;
	--orange-1: #ffa010;
	--orange-2: #c5730f;
	--brown-1: #695555;
	--brown-2: #94877b;
	--pink-1: #e28397;
	--pink-2: #ff1f5a;
}

.dark-mode {
	--body-bg: #1e222b;
	--theme-bg: #212835;
	--border-color: #444b5f;
	--header-bg: #212835;
	--card-bg: #2f3646;

	--theme-color-1: #fefffd;
	--theme-color-2: #d1d1d1;
	--theme-color-3: #f5f5f5;
}

.amoled-mode {
	--body-bg: #000;
	--theme-bg: #000;
	--border-color: #222;
	--header-bg: #000;
	--card-bg: #000;

	--theme-color-1: #fefffd;
	--theme-color-2: #d1d1d1;
	--theme-color-3: #f5f5f5;
}
