$border: 3px solid var(--border-color);
$card-shadow: 0.2rem 0.3rem 0.8rem 0.1rem
	rgba(
		$color: black,
		$alpha: 0.05,
	);

:root {
	--body-font: "DM Sans", "Work Sans", sans-serif;

	// COLORS
	--red-1: #ea2027;
	--red-2: #fc5c65;
	--red-3: #ee5253;

	--green-1: #10ac84;
	--green-2: #2ed573;

	--blue-1: #2f89fc;
	--blue-2: #54a0ff;

	--purple-1: #9e6ddf;
	--purple-2: #9d4ccd;

	--yellow-1: #feca57;

	--orange-1: #ffa010;
	--orange-2: #ff793f;

	--brown-1: #695555;
	--brown-2: #94877b;

	--pink-1: #f78fb3;
	--pink-2: #f74171;
	--pink-3: #ff9ff3;
	--pink-4: #f368e0;

	// UNIVERSAL
	--logo-color: var(--red-1);
	--accent: var(--logo-color);

	--theme-color-1-opaque: hsla(0, 0%, 70%, 0.3);
	--black-opaque: rgba(0, 0, 0, 0.25);

	// LIGHT MODE
	--body-bg: #f2f2f2;
	--theme-bg: #fafafa;
	--border-color: #efefef;
	--header-bg: #fff;
	--card-bg: transparent;

	--theme-color-1: #b3b3b3;
	--theme-color-2: #808080;
	--theme-color-3: #494949;

	::selection {
		background: rgba($color: #707070, $alpha: 0.2);
		color: black;
	}
}
