* {
	margin: 0;
	padding: 0;
}

*,
*::before,
*::after {
	box-sizing: inherit;
}

html {
	box-sizing: border-box;
	font-size: 62.5%;
}

body {
	font-size: 1.6rem;
	font-family: var(--body-font);
	background: var(--body-bg);
	color: var(--theme-color-1);
	font-weight: 400;
}

a {
	text-decoration: none;
	color: inherit;
}

ul {
	list-style: none;
}

:focus {
	outline: none;
}
