.app-wrapper {
	max-width: 140rem;
	margin: 0 auto;
	height: 100vh;

	display: flex;
	flex-direction: column;

	background: var(--theme-bg);
	overflow: hidden;
	border-left: $border;
	border-right: $border;

	@media only screen and (max-width: 1400px) {
		border: 0;
	}
}

.main-wrapper {
	display: flex;
	overflow: auto;
}
