.app-wrapper {
	max-width: 140rem;
	margin: 0 auto;
	height: 100vh;

	display: flex;
	flex-direction: column;

	background: var(--theme-bg);
	overflow: hidden;
}

.main-wrapper {
	display: flex;
	overflow: auto;
}
