.aside {
	flex: 0 1 25rem;
	font-size: 0.9em;
	border-right: $border;
	color: var(--theme-color-2);
	overflow: auto;
	@include scrollbar;
	font-weight: 400;

	@include respond(xl) {
		flex-basis: 23.5rem;
	}
	@include respond(lg) {
		flex-basis: 22rem;
	}

	transition: all 400ms;
	// transform-origin: left;
	transform: scale(1, 1);

	&.hide {
		// transform: scale(0,1);
		flex-basis: 0;
	}
	
	> * {
		border-bottom: $border;

		&:last-child {
			border: none;
		}
	}

	&__list {
		padding: 2em;
		padding-bottom: 1.8em;
		transition: all 200ms;
	}

	&__link {
		display: flex;
		align-items: center;
		padding: 0.7em 0;

		&:hover,
		&:focus {
			color: var(--theme-color-3);

			& .aside__icon {
				color: var(--theme-color-2);
			}
		}
	}

	&__placeholder {
		flex: 0 0 5rem;
		display: flex;
		align-items: center;
	}

	&__icon {
		width: 1.6em;
		height: 1.6em;
		color: var(--theme-color-1);
	}

	&__photo {
		width: 3rem;
		height: 3rem;
		border-radius: 50%;
	}

	&__heading {
		font-weight: 600;
		font-size: 1.1em;
		margin-bottom: 1.2em;
	}

	button {
		margin-top: 1.4em;
	}
}

#categories {
	.aside__link:hover,
	.aside__link:focus {
		.music {
			fill: var(--red-1);
		}
		.gaming {
			fill: var(--green-1);
		}
		.comedy {
			fill: var(--orange-1);
		}
		.food {
			fill: var(--pink-2);
		}
		.fitness {
			fill: var(--blue-1);
		}
		.sport {
			fill: var(--green-2);
		}
		.animal {
			fill: var(--pink-1);
		}
		.baby {
			fill: var(--blue-2);
		}
		.science {
			fill: var(--purple-1);
		}
		.movie {
			fill: var(--red-2);
		}
		.business {
			fill: var(--brown-1);
		}
	}
}
