.footer {
	display: flex;
	justify-content: space-between;
	align-items: center;
	font-size: 0.9em;
	&__socials {
		display: flex;
		justify-content: center;
	}

	&__icon-box {
		border-radius: 50%;
		border: $border;
		border-color: transparent;
		display: grid;
		place-content: center;
		height: 3.2em;
		width: 3.2em;
		margin: 0 0.3em;
		box-shadow: 0 0 0rem 0rem rgba($color: #3b5998, $alpha: 0.5);
		color: currentColor;

		transition: all 250ms;

		overflow: hidden;
		cursor: pointer;
	}

	.facebook:hover,
	.facebook:focus {
		color: #3b5998;
		border-color: currentColor;
		// box-shadow: 0 0 5rem 0.1rem rgba($color: #1b5998, $alpha: 0.6);
	}
	.instagram:hover,
	.instagram:focus {
		color: #c11584;
		border-color: currentColor;
		// box-shadow: 0 0 5rem 0.1rem rgba($color: #c13584, $alpha: 0.6);
	}
	.twitter:hover,
	.twitter:focus {
		color: #1da1f2;
		border-color: currentColor;
		// box-shadow: 0 0 5rem 0.1rem rgba($color: #1da1f2, $alpha: 0.6);
	}
	.reddit:hover,
	.reddit:focus {
		color: #ff4500;
		border-color: currentColor;
		// box-shadow: 0 0 5rem 0.1rem rgba($color: #ff4500, $alpha: 0.6);
	}
	.github:hover,
	.github:focus {
		color: #4078c0;
		border-color: currentColor;
		// box-shadow: 0 0 5rem 0.1rem rgba($color: #4078c0, $alpha: 0.6);
	}

	.icon {
		height: 1.6em;
		width: 1.6em;
		fill: currentColor;
	}

	&__link {
		&:hover {
			text-decoration: underline;
		}
	}
}
