.footer {
	display: flex;
	justify-content: space-between;
	align-items: center;
	font-size: 0.9em;
	padding: 3em 2em;

	@include respond(xl) {
		padding: 2.5em 1.6em;
	}

	@include respond(sm) {
		padding: 2em 1em;
		flex-direction: column;

		> * {
			margin: 0.5em 0;
		}
	}

	&__socials {
		display: flex;
		justify-content: center;

		@include respond(sm) {
			order: -1;
		}
	}

	&__icon-box {
		border-radius: 50%;
		display: grid;
		place-content: center;
		height: 3.2em;
		width: 3.2em;
		margin: 0 0.3em;
		box-shadow: 0 0 0rem 0rem rgba($color: #3b5998, $alpha: 0.5);
		color: currentColor;

		transition: all 350ms cubic-bezier(.99,1,.64,1.32);
		

		overflow: hidden;
		cursor: pointer;

		.icon {
			fill: currentColor;
			transition: all 100ms ease-in-out;
		}

		&:hover, &:focus {
			transform: rotate(10deg);
		}
	}

	.facebook {
		color: #3b5998;
	}
	.instagram {
		color: #c11584;
	}
	.twitter {
		color: #1da1f2;
	}

	.reddit {
		color: #ff4500;
	}
	.github {
		color: #4078c0;
	}

	.facebook:hover,
	.facebook:focus {
		box-shadow: 0 0 4rem 0.05em rgba($color: #1b5998, $alpha: 0.8);
	}
	.instagram:hover,
	.instagram:focus {
		box-shadow: 0 0 4rem 0.05em rgba($color: #c13584, $alpha: 0.8);
	}
	.twitter:hover,
	.twitter:focus {
		box-shadow: 0 0 4rem 0.05em rgba($color: #1da1f2, $alpha: 0.8);
	}
	.reddit:hover,
	.reddit:focus {
		box-shadow: 0 0 4rem 0.05em rgba($color: #ff4500, $alpha: 0.8);
	}
	.github:hover,
	.github:focus {
		box-shadow: 0 0 4rem 0.05em rgba($color: #4078c0, $alpha: 0.8);
	}

	.icon {
		height: 1.6em;
		width: 1.6em;
		fill: currentColor;
	}

	&__link {
		&:hover {
			text-decoration: underline;
		}
	}
}
