.videos {
	padding: 0 2em;

	@include respond(sm) {
		padding: 0 1em;
	}

	@include respond(xxs) {
		padding: 0;
	}

	&__header {
		display: flex;
		justify-content: center;
		align-items: center;

		padding: 0 2.2em;
		margin: 2em 0;

		@include respond(xs) {
			margin: 1.2em 0;
		}
	}

	&__menu-trending {
		display: flex;
		flex: 1;

		@include respond(lg) {
			p {
				display: none;
			}
		}
	}

	&__menu-buttons {
		padding: 0 1em;
		.btn--outline {
			color: var(--theme-color-1);
		}

		.selected {
			color: var(--theme-color-2);
		}

		@include respond(xs) {
			display: none;
		}
	}

	&__play-button {
		flex: 1;
		display: flex;
		justify-content: flex-end;

		/* for the hover animation */
		overflow: hidden;

		span {
			transition: all 250ms;
			margin-left: 0.6em;
		}

		.icon--play {
			margin: 0;
			position: relative;
			left: 1px;
		}

		.btn:hover,
		.btn:focus {
			background: var(--accent);
			color: var(--body-bg);

			.icon {
				transform: translateX(101%) scale(1.6);

				@include respond(lg) {
					transform: translateX(0) scale(1.4);
				}
			}

			span {
				opacity: 0;
				visibility: hidden;
			}
		}

		@include respond(lg) {
			.btn {
				padding: 1em;
			}

			span {
				display: none;
			}
		}
	}

	&__link {
		display: flex;
		align-items: center;
		transition: all 200ms;

		&:hover,
		&:focus {
			.icon {
				color: var(--accent);
			}
		}
	}

	&__grid {
		display: grid;
		grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
		gap: 1.5em;

		@include respond(sm) {
			grid-template-columns: repeat(auto-fit, minmax(215px, 1fr));
		}
	}

	&__more {
		display: flex;
		justify-content: center;
		align-items: center;
		padding: 3.5em 2em;

		@include respond(sm) {
			padding: 2.5em 2em;
		}
	}

	&__footer {
		display: flex;
		flex-direction: column;
		padding: 2em;

		@include respond(xl) {
			padding: 1.6em;
		}
		@include respond(md) {
			padding: 1.6em 1.2em;
		}

		@include respond(xs) {
			flex-direction: row;
			justify-content: space-evenly;
			text-align: center;
		}

		&-row {
			display: flex;
			justify-content: space-between;
			align-items: stretch;

			@include respond(sm) {
				justify-content: center;
			}

			&:first-child {
				margin-bottom: 0.5em;

				@include respond(sm) {
					margin-bottom: 0.8em;
				}

				@include respond(xs) {
					margin: 0;
				}
			}
		}

		.btn--outline {
			color: var(--theme-color-1);

			&:hover,
			&:focus {
				color: var(--theme-color-2);
			}

			&:hover img,
			&:focus img {
				transform: scale(1.15) translateX(0.1em);
			}

			img {
				width: 1.5em;
				height: 1.5em;
				transition: all 250ms;
				margin-left: 0.5em;
			}

			.icon {
				display: none;
				width: 1.4em;
				height: 1.4em;
			}

			@include respond(xl) {
				padding: 0.75em;
				/* disable streching buttons with flag images */
				align-self: center;

				span {
					display: none;
				}

				.icon {
					display: block;
				}

				img {
					width: 1.7em;
					height: 1.7em;
					margin-left: 0;
				}

				&:hover img,
				&:focus img {
					transform: scale(1);
				}
			}

			@include respond(sm) {
				display: none;
			}
		}
	}

	&__nav {
		display: flex;
		align-items: center;
		font-size: 0.9em;
		padding: 0 1em;
	}

	&__nav-list {
		display: flex;

		@include respond(xs) {
			flex-direction: column;
		}

		&.primary {
			color: var(--theme-color-3);
		}
	}

	&__nav-item {
	}
	&__nav-link {
		display: block;
		transition: all 250ms;
		padding: 0.2em 0.6em;
	}

	&__nav-item:nth-child(odd):hover &__nav-link,
	&__nav-item:nth-child(odd):focus &__nav-link {
		transform: rotate(-5deg) scale(1.1);
		color: var(--accent);
	}
	&__nav-item:nth-child(even):hover &__nav-link,
	&__nav-item:nth-child(even):focus &__nav-link {
		transform: rotate(5deg) scale(1.1);
		color: var(--accent);
	}
}

.video {
	background: var(--card-bg);
	border-radius: 0.7rem;
	overflow: hidden;
	box-shadow: 0.2rem 0.3rem 0.6rem 0.2rem rgba($color: black, $alpha: 0.04);

	cursor: pointer;

	display: flex;
	flex-direction: column;

	&:hover {
		video {
			transform: scale(1.7);
		}

		.video__desc {
			transform: translateY(48%);
		}

		.video__title {
			color: white;
			z-index: 10;
			text-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
			// transform: translateY(-1300%);
		}

		.video__info {
			transform: translateY(100%);
		}
	}

	video {
		width: 100%;
		height: 100%;
		object-fit: cover;
		object-position: center;
		transition: transform 450ms;
		transform-origin: top;
	}

	&__desc {
		padding: 1em;
		display: flex;
		flex-direction: column;
		transition: transform 450ms;
		transform-origin: top;
	}

	&__title {
		font-size: 0.9em;
		font-weight: 500;
		color: var(--theme-color-3);
		text-transform: capitalize;
		margin-bottom: 0.8em;

		transition: all 350ms;
	}

	&__info {
		display: flex;
		align-items: center;
		font-size: 0.75em;

		transition: transform 600ms;
		transform-origin: top;

		@include respond(sm) {
			.views {
				display: none;
			}
		}
	}

	&__user-photo {
		border-radius: 50%;
	}

	&__user-name {
		margin-left: 0.8em;
		margin-right: 1.2em;
	}

	&__views {
		margin-left: auto;
	}
}
