.btn {
	font-size: 0.9em;
	padding: 0.8em 1.4em;
	display: flex;
	align-items: center;
	justify-content: center;
	cursor: pointer;
	font-weight: 500;
	transition: all 200ms;

	&--outline {
		color: var(--theme-color-2);
		background: transparent;
		border: 0.22rem solid var(--border-color);
		border-radius: 100rem;

		&:hover,
		&:focus {
			background: var(--border-color);
		}
	}

	&--dual {
		&:first-of-type {
			border-top-right-radius: 0;
			border-bottom-right-radius: 0;
			padding-right: 1em;
		}
		&:last-of-type {
			border-top-left-radius: 0;
			border-bottom-left-radius: 0;
			border-left: none;
			padding-left: 1em;

		}
	}

	.icon {
		color: var(--theme-color-1);
		height: 1.8rem;
		width: 1.8rem;
		margin-right: 0.6em;
		position: relative;
		top: 1px;
	}
}

.icon {
	cursor: pointer;
}
