.profile {
	background: var(--card-bg);
	box-shadow: 0.1rem 0.3rem 0.6rem .2rem rgba($color: black, $alpha: 0.04);

	border-radius: 0.7rem;
	overflow: hidden;

	&__hero {
		height: 28rem;
		background: url(../img/adventure-calm-clouds-dawn-414171.jpg) no-repeat;
		background-size: cover;
		background-clip: border-box;
		background-position: center;

		display: flex;
		flex-direction: column;
		justify-content: space-between;
		color: var(--header-bg);
	}

	// CONTACT
	&__contact {
		display: flex;
		margin-left: auto;
		align-items: flex-start;
		padding: 2em;

		color: white;
	}

	&__contact-container {
		height: 3em;
		width: 3em;
		border-radius: 50%;
		border: 0.2rem solid var(--theme-color-1-opaque);
		margin: 0 0.3em;
		cursor: pointer;
		opacity: 0.5;

		display: flex;
		align-items: center;
		justify-content: center;

		transition: all 250ms;

		&:hover,
		&:focus {
			opacity: 1;
			background: var(--theme-color-1-opaque);
		}
	}

	&__icon {
		width: 1.4em;
		height: 1.4em;
	}

	// INFO
	&__info {
		flex: 0 0 auto;
		padding: 2em 1em;

		display: flex;
		justify-content: center;
		align-items: center;
		background: var(--black-opaque);

		color: white;

		.icon {
			cursor: default;
		}
	}

	&__info-item {
		display: flex;
		align-items: center;
		margin: 0 1.5em;
	}

	&__info-data--full {
		margin-left: 0.6em;

		@include respond(xl) {
			display: none;
		}
	}
	&__info-data--short {
		margin-left: 0.6em;
		display: none;

		@include respond(xl) {
			display: block;
		}
	}

	// MENU
	&__menu {
		display: flex;
		align-items: center;
		justify-content: space-between;
		padding: 0 1.8em;

		font-weight: 500;
	}
	&__user {
		display: flex;
		align-items: center;
	}

	&__photo {
		width: 42px;
		height: 42px;
		border-radius: 50%;
		margin-right: 1em;
	}

	&__name {
		color: var(--theme-color-3);
	}

	&__menu-nav {
		display: flex;
		align-items: stretch;
	}

	&__menu-link {
		padding: 1.8em 0.3em;
		margin: 0 0.5em;

		position: relative;

		&::before {
			content: "";
			position: absolute;
			display: block;
			bottom: 0;
			left: 0;
			right: 0;
			height: 0.3rem;
			padding: 0;
			margin: 0;
			background: var(--accent);
			border-radius: 100rem;

			transform: scale(0, 1);
			transition: transform 350ms;
		}

		transition: all 200ms;

		&:hover,
		&:focus {
			color: var(--accent);
		}
		&:hover::before,
		&:focus ::before {
			color: var(--accent);
			transform: scale(1, 1);
		}
	}

	&__menu-buttons {
		.btn {
			color: var(--theme-color-1);
		}
	}
}
