.profile {
	background: var(--card-bg);
	box-shadow: 0.1rem 0.3rem 0.6rem 0.2rem rgba($color: black, $alpha: 0.04);

	border-radius: 0.7rem;
	overflow: hidden;

	margin: 0 2em;
	margin-top: 2em;

	animation: fade-in-top 800ms cubic-bezier(0.39, 0.575, 0.565, 1) both;
	@include respond(sm) {
		margin: 0 1em;
		margin-top: 1em;
	}
	@include respond(xs) {
		margin: 0;
		border-top-left-radius: 0;
		border-top-right-radius: 0;
	}

	&__hero {
		min-height: 22rem;
		background: url(../img/hero.jpg) no-repeat;
		background-size: cover;
		background-clip: border-box;
		background-position: center;

		display: flex;
		flex-direction: column;
		justify-content: space-between;

		@include respond(sm) {
			min-height: 18rem;
		}
	}

	// CONTACT
	&__contact {
		display: flex;
		margin-left: auto;
		padding: 2em;

		color: white;

		@include respond(sm) {
			margin: 0 auto;
			padding: 1em;
		}
	}

	&__contact-container {
		height: 3em;
		width: 3em;
		border-radius: 50%;
		margin: 0 0.3em;
		cursor: pointer;

		display: flex;
		align-items: center;
		justify-content: center;

		transition: all 250ms;

		@include respond(xxs) {
			&:not(:last-child) {
				display: none;
			}
		}

		&:hover,
		&:focus {
			background: var(--theme-color-1-opaque);
			backdrop-filter: blur;
		}
	}

	&__icon {
		width: 1.4em;
		height: 1.4em;
	}

	// STATS INFO
	&__info {
		flex: 0 0 auto;
		padding: 2em 1em;

		display: flex;
		justify-content: center;
		align-items: center;
		flex-wrap: wrap;
		background: var(--black-opaque);

		color: white;

		.icon {
			cursor: default;
		}

		@include respond(sm) {
			padding: 1em;
		}
		@include respond(xs) {
			padding: 0.5em;
		}
	}

	&__info-item {
		display: flex;
		align-items: center;
		margin: 0 1.5em;

		@include respond(xs) {
			flex-direction: column;
		}
		@include respond(xxs) {
			&:nth-child(3),
			&:nth-child(4) {
				display: none;
			}
		}
	}

	&__info-data--full {
		margin-left: 0.6em;

		@include respond(xl) {
			display: none;
		}

		@include respond(xs) {
			margin-left: 0;
		}
	}
	&__info-data--short {
		margin-left: 0.6em;
		display: none;

		@include respond(xl) {
			display: block;
		}

		@include respond(xs) {
			margin-left: 0;
		}
	}

	// MENU
	&__menu {
		padding: 0 1.8em;
		font-weight: 500;

		display: flex;
		align-items: center;
		justify-content: space-between;

		@include respond(xl) {
			font-size: 0.9em;
			padding: 0 1.2em;
		}

		@include respond(sm) {
			flex-direction: column;
			padding: 1.2em;
			padding-bottom: 0;
		}
	}
	&__user {
		display: flex;
		align-items: center;

		@include respond(sm) {
			flex-direction: column;
		}
	}

	&__user-data--short {
		display: none;
	}

	@include respond(lg) {
		&__user-data--full {
			display: none;
		}

		&__user-data--short {
			display: block;
		}
	}

	&__photo {
		width: 42px;
		height: 42px;
		border-radius: 50%;
		margin-right: 1em;

		@include respond(sm) {
			margin-right: 0;
			margin-bottom: 0.6em;
		}
	}

	&__name {
		color: var(--theme-color-3);

		@include respond(lg) {
			display: none;
		}
		@include respond(sm) {
			display: block;
		}
	}

	&__menu-nav {
		display: flex;
		align-items: stretch;

		@include respond(sm) {
			order: 3;
		}
	}

	&__menu-link {
		padding: 1.8em 0.3em;
		margin: 0 0.5em;

		position: relative;

		@include respond(sm) {
			padding: 1em 0.5em;
		}

		&::before {
			content: "";
			position: absolute;
			display: block;
			bottom: 0;
			left: 0;
			right: 0;
			height: 0.3rem;
			padding: 0;
			margin: 0;
			background: var(--accent);
			border-radius: 100rem;

			transform: scale(0, 1);
			transition: transform 350ms;
		}

		transition: all 200ms;

		&:hover,
		&:focus {
			color: var(--accent);
		}
		&:hover::before,
		&:focus ::before {
			color: var(--accent);
			transform: scale(1, 1);
		}
	}

	&__menu-buttons {
		display: flex;

		@include respond(sm) {
			margin: 1em 0 0.5em;
		}

		.btn {
			color: var(--theme-color-1);

			.icon {
				fill: var(--theme-color-1);
			}

			@include respond(md) {
				&:first-child {
					display: none;
				}

				&:last-child {
					border-top-left-radius: 100rem;
					border-bottom-left-radius: 100rem;
					border-width: 0;
					padding: 1em;
				}
			}

			&--follow:hover,
			&--follow:active,
			&--follow:focus {
				background: var(--accent);
				border-color: var(--accent);
				color: var(--header-bg);

				.icon {
					fill: var(--header-bg);
				}
			}

			@include respond(sm) {
				&:first-child {
					display: block;
				}

				&:last-child {
					border-width: 0.22rem;
					border-top-left-radius: 0;
					border-bottom-left-radius: 0;
					padding: 0.75em 1.5em;
					padding-left: 1em;
				}
			}
		}
	}
}
